<!DOCTYPE html>
<html>
<head>
  <title>Serena Stater - Junior Full Stack Web Developer</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id= "main_navigation" class="clearfix">
    <%= link_to "Serena Stater", root_path, class: "name" %>
    <nav>
      <%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Contact", new_contact_path %>
    </nav>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer id="main_footer">
    <nav>
      <a href="https://github.com/serenastater" target="_blank"><i class="fa fa-github fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/serenastater" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
      <a href="https://twitter.com/serena_stater" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
    </nav>
  </footer>

</body>
</html>
